@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Through years of hard work and dedication, there has finally been a databse compiled of my personal film collection. It was a challenge that many said could not be done,
     but through hard work and determination we did it! Celebrate together with us by watching some of our favorite films!</p>
    <p>To add to the databse, click here!</p>
</div>

<div>
    <a asp-controller="Home" asp-action="EnterMovies">Enter Movies</a>
</div>

<div>
    <a asp-action="MovieList">View List of Movies</a>
</div>